/** GENERAL **/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}


/** NAVBAR **/

#navbarNav {
    justify-content: flex-end;
}

/** LOGIN **/

.login-background {
    background-image: url("../layout/images/sport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    height: 100%;
}

.login-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-wrapper {
    width: 768px;
    background-color: rgba(255,255,255,.8);
    border: 1px solid black;
    border-radius: 30px;
    margin: auto;
    padding: 2rem;
}