/** GENERAL **/
:root {
    --red: #d9433a;
    --dark-red: #9b3029;
    --grey: #c4c4c4;
    --lightgrey: #bfbfbf;
}

.color-red {
    color: var(--red)
}
.color-dark-red {
    color: var(--dark-red)
}
.color-grey {
    color: var(--grey)
}
.color-lightgrey {
    color: var(--lightgrey)
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1;
    position: relative;
    min-height: 100vh;
}

a {
    color: inherit;
}
a:hover {
    color: inherit;
}

p {
    margin-bottom: 0;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    width: 100px;
    border-width: 3px;
    opacity: 1;
    border-color: var(--red);
}

.btn-default {
    background-color: var(--red);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: var(--dark-red);
    color: white;
}

button {
    border: none;
    background-color: transparent;
}


/** NAVBAR **/

.navbar {
    background-color: var(--grey);
}

#navbarNav {
    justify-content: flex-end;
}

.nav-link {
    color: black;
}

/** FOOTER **/

footer {
    padding-top: 1rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
    background-color: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
}

/** LOGIN SITE **/

.login-background {
    background-image: url("../layout/images/sport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    height: 100vh;
}

.login-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-wrapper {
    width: 576px;
    background-color: rgba(255,255,255,.8);
    margin: auto;
    padding: 2rem;
}

.login-form-wrapper button {
    display: block;
    margin: auto;
}

/** LIST **/

.list.container {
    padding-bottom: 7rem;
}

.action-bar {
    display: flex;
    justify-content: space-between;
}

form.search {
    margin-bottom: 0;
}

form.search input {
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--grey);
    padding-left: 10px;
}

.list-head {
    background-color: var(--grey);
    font-weight: bold;
}

.list-row {
    border: solid 1px var(--grey);
    align-items: center;
}

.list-row .col {
    padding: 1rem .5rem;
    flex-basis: 50%
}
.list-row .col span {
    padding-right: .5rem;
}
.list-row .col.edit {
    flex-basis: 100%;
    justify-content: space-around;
    display: flex;
}

@media (min-width: 576px) {
    .list-row .col,
    .list-row .col.edit {
        flex-basis: 20%;
    }
}
@media (min-width: 1200px) {
    .list-row .col,
    .list-row .col.edit {
        flex-basis: 10%;
    }
    .list-row .id {
        flex-basis: 5%;
    }
    .list-row .forename,
    .list-row .surname {
        flex-basis: 12.5%;
    }
}

.list-row .edit {
    border-left: solid 1px var(--grey);
}

button.edit-button i,
button.delete-button i {
    font-size: 1.5rem;
}

button.delete-button i {
    color: var(--red);
}

.list-pagination {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.list-pagination form {
    margin-bottom: 0;
    max-width: 100px;
}

.list-pagination .results,
.list-pagination .page {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: auto;
}

.list-pagination .arrows {
    display: flex;
    gap: 1rem;
}

/** MODALs **/

.modal-header {
    padding-left: 0;
    padding-right: 0;
    border: none;
    align-items: flex-start;
}

.modal-dialog {
    max-width: 768px;
}

.modal-content {
    padding: 2rem;
}

.modal-content input,
.modal-content select {
    margin-bottom: 1rem;
}

.submit-edit {
    border-radius: 5px;
}


/*
.list-row:not(.list-head):nth-child(odd) {
    background-color: var(--grey);
}
 */

/* Filter Arrows */

.list-row .filter {
    display: inline-block;
}
.ascending {
    transform: translateY(-2.5px) rotate(45deg);
    display: inline-block;
    height: 10px;
    width: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 1px;
}
.descending {
    transform: translateY(2.5px) rotate(-135deg);
    display: inline-block;
    height: 10px;
    width: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 1px;
}