/** GENERAL **/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.frame {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/** NAVBAR **/

#navbarNav {
    justify-content: flex-end;
}